.view-lesson-item {
  background-color: $gray-100;

  .l-lesson-item {

    &__main {
    }

    &__content {
    }

    &__section {
      background-color: black;
    }

    &__img {
      width: 100%;
      height: 450px;
      background-size: cover;
      background-position: center center;
    }

    .c-segment-list {
      overflow: scroll;
      height: 450px;

      &__title {
        color: white;
        background: #495057;
        padding: 20px;
      }

      &__inner {
        padding: 7px 22px 0 13px;
      }

      .c-chapter-item {
        display: flex;
        justify-content: space-between;
        padding: 15px 9px;
        border-bottom: 1px solid #DEE2E6;
      }

      .c-section-item {
        padding: 5px 0;
        border-bottom: 1px solid #DEE2E6;

        &__inner {
          display: flex;
          padding: 11px 16px 11px 8px;
          justify-content: space-between;
          gap: 0.5rem;
        }

        &.active {

          .c-section-item__inner {
            border: 2px solid $secondary;
            border-radius: 10px;
          }
        }
      }
    }

    &__navbar {
      //
    }

    &__detail {
      padding-bottom: 120px;
    }

    &__card {
    }

    //.c-lesson-detail-card {
    //
    //  .c-homework-item {
    //    border-top: 1px solid $gray-200;
    //    padding: 32px 20px;
    //    display: flex;
    //    gap: 20px;
    //
    //    &__avatar {
    //      min-width: 40px;
    //    }
    //
    //    &__date {
    //      color: $gray-500;
    //    }
    //  }
    //
    //  .c-file-item {
    //    border-top: 1px solid $gray-200;
    //    display: flex;
    //    justify-content: space-between;
    //    padding: 16px 30px;
    //    overflow: hidden;
    //
    //    &:hover {
    //      color: white;
    //      background-color: $secondary;
    //    }
    //  }
    //}
  }

  .c-quiz-item {
    margin-bottom: 1rem;
  }

  .plyr {
    --plyr-color-main: var(--bs-primary);
    height: 450px;
  }
}
